body, html {
	background:#FFFFFF;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
.main{ margin-top:40px;}
.banner{
	width:100%;
	height:100%;
	margin:51px 0 0 0px;
	background:url(../image/face.jpeg) no-repeat 50% 58%;
	top:0;
	display:table;
	background-size:cover;
	height:398px;
}
.banner-img{ background:#000000; opacity:; height:398px; position:absolute;}
.banner-content{
	display:table-cell;
	vertical-align:middle;
	width:100%;
	max-width:none;
	font-size:10px;
	color:#FFFFFF;
}

.banner-text{
	max-width:500px;
	margin:auto;
	text-align:center;
}
.banner-text h1{
	font-family:'century gothic,serif';
	color:#f9f3f4;
	font-size:500%;
	text-shadow:0 0 300px #000;
}
.button1{border-radius: 300px;
		background-color: rgba(246,44,115,.8); 
		border: rgba(246,44,115,.8);
		font-family:;
		font-weight: 600;
		font-style: normal;
		font-size: 15px;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1em 1.75em;
		color:#FFFFFF;

		}
.button1:hover{opacity:0.7}		
.pagerLink1{
color:#FFFFFF;
}

.pagerLink1:hover{
color:#FFFFFF;
}
.pagerLink2{
color:#FFFFFF;
}

.pagerLink2:hover{
color:#FFFFFF;
}
.bilowbanner
       { 
	  text-align:center;
      margin: 6em 0 .5em;}
.blog-main{
      text-align:center;
	      }
.blog-image1{
    width:65%;
    margin-top: 43px;
	margin-bottom:10px;
	}
.blog-text1{
          font-size:1.20em;
		  color:#000000;
		  }
.blog-text1:hover{
		  color:#CC3333;
		  }

.blog-image2{width:65%;
    margin-top: 43px;
    margin-bottom:10px;}
.blog-text2{
  font-size:1.20em;
  color:#000000;
		  }
.blog-text2:hover{
		  color:#CC3333;
		  }
.blog-image3{width:65%;
    margin-top: 43px;
	margin-bottom:10px;
	}
.blog-text3{
  font-size:1.20em;
  color:#000000;		  
  }
.blog-text3:hover{
		  color:#CC3333;
		  }
.blog-image4{
    width:65%;
    margin-top: 43px;
	height: 133px;
	margin-bottom:10px;}
.blog-text4{
  font-size:1.20em;
  color:#000000;
  }
.blog-text4:hover{
		  color:#CC3333;
		  }
.blog-image5{width:65%;
    margin-top: 43px;
	}
.blog-text5{
  font-size:1.20em;
  color:#000000;		  
  }
.blog-text5:hover{
		  color:#CC3333;
		  }
.blog-image6{width:67%;
    margin-top: 43px;
	height:147px;
	margin-bottom:10px;
	}
.blog-text6{
   font-size:1.20em;
   color:#000000;	
   	  }	
.blog-text6:hover{
		  color:#CC3333;
		  }	  
		  
		  
		  
.footer1{ text-align:center; background:#333333; padding:32px;}
.logo-down{ width:3%; padding:5px;}
.footer2{ 
    background:#000000db;
	text-align:center;    
    padding: 64px 32px;
	color: rgba(255,255,255,.4);
	font-family: adobe-garamond-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 1.6em;
	}
.footer2 a{color: rgba(255,255,255,.4); text-decoration:none;}	
.last{color:#FFFFFF;padding:7px;}
.btn1{}	  

