body, html {
background:#FFFFFF;
color:#FFFFFF;

}
.banner-img {

  opacity: 0.6;
  background-repeat:no-repeat;
  width:100%;
  height: 385px;
  height:394px;
  background-size:cover;
  background-position:center;
  background:url(../image/bnner.png);
}
.banner-text h1{ font-stretch:expanded; font-weight:1000; font-size:82px;}
.banner-content{text-align:center;}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	z-index:1000;
	color:#FFFFFF;
	font-size:2em; 
	color:#FFFFFF; 
}
.button1{border-radius: 300px;
		background-color: rgba(246,44,115,.8); 
		border: rgba(246,44,115,.8);
		font-family:;
		font-weight: 600;
		font-style: normal;
		font-size: 15px;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1em 1.75em;
		color:#FFFFFF;
		}
.button1:hover{opacity:0.7}		
*/		
.pagerLink1{
color:#FFFFFF;
}

.pagerLink1:hover{
color:#FFFFFF;
}
.pagerLink2{
color:#FFFFFF;
}

.pagerLink2:hover{
color:#FFFFFF;
}
.bilowbanner
       { 
	  text-align:center;
      margin: 6em 0 .5em;}
.blog-main{
      text-align:center;
	      }
.blog-image1{
    width:65%;
    margin-top: 43px;
	margin-bottom:10px;
	}
.blog-text1{
          font-size:1.20em;
		  color:#000000;
		  }
.blog-text1:hover{
		  color:#CC3333;
		  }

.blog-image2{width:65%;
    margin-top: 43px;
    margin-bottom:10px;}
.blog-text2{
  font-size:1.20em;
  color:#000000;
		  }
.blog-text2:hover{
		  color:#CC3333;
		  }
.blog-image3{width:65%;
    margin-top: 43px;
	margin-bottom:10px;
	}
.blog-text3{
  font-size:1.20em;
  color:#000000;		  
  }
.blog-text3:hover{
		  color:#CC3333;
		  }
.blog-image4{
    width:65%;
    margin-top: 43px;
	height:156px;
	margin-bottom:10px;}
.blog-text4{
  font-size:1.20em;
  color:#000000;
  }
.blog-text4:hover{
		  color:#CC3333;
		  }
.blog-image5{width:65%;
    margin-top: 43px;
	}
.blog-text5{
  font-size:1.20em;
  color:#000000;		  
  }
.blog-text5:hover{
		  color:#CC3333;
		  }
.blog-image6{width:67%;
    margin-top: 43px;
	height:156px;
	margin-bottom:10px;
	}
.blog-text6{
   font-size:1.20em;
   color:#000000;	
   	  }	
.blog-text6:hover{
		  color:#CC3333;
		  }	  
		  
		  
		  
.footer1{}
.footer1{}		  
		  
		  
		  