	body{background:#1C2B36;font-family: 'Open Sans', sans-serif;}
	.row_login{margin-top:10%;}
	.inner_col{background: white;padding:20px;text-align:center; }
	.login_header{background:#1C2B36;color: white;}
	.login{margin-top:20px; font-size:20px;}
	.alert{position:absolute;padding: 0px;}
	.selection{margin-left:46px;}
	.view{color:white;}
	.type{height:4%;}
	/*----for loader ---*/
	

/* Add animation to "page content" */
